<!DOCTYPE html>
<html>
<head>
  <title>Graphique des températures de Paris</title>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {packages: ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      // DEBUT
   
    /*  // Récupération de données depuis notre API /paris/
      fetch('/paris/')
        .then(response => response.json())
        .then(data => {
       
    }) */
 /*data.results.forEach(entry => {
      var date = new Date(entry.Jour * 1000);
      data.addRow([date.toLocaleDateString(), entry.temp]);
    });*/
      //END
      
      var data = google.visualization.arrayToDataTable([
        ['Jour', 'Température'],
        ['Jour 1', 20],
        ['Jour 2', 22],
        // Inclure les températures pour les 16 prochains jours ici
        ['Jour 16', 18]
      ]);


      

      var options = {
        title: 'Températures de Paris pour les 16 prochains jours',
        hAxis: {title: 'Jour', titleTextStyle: {color: '#333'}},
        vAxis: {minValue: 0},
        colors: ['#1f77b4']
      };

      var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
      chart.draw(data, options);
      
    }
  </script>
</head>
<body>
  <div id="chart_div" style="width: 100%; height: 400px;"></div>
</body>
</html>
